


/* Yleiset tyylit */
body {
    font-family: Arial, sans-serif;
    color: blueviolet;
    margin: 0;
    padding: 0;


}
/* Navigointipalkki */
header {
    background-color: black;
    display: flex;
    align-items: center;

}


header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 5px;
}

header nav ul li a {
    color: darkkhaki;
    text-decoration: none;
    font-size: 1.5em;
}


/* Laatikoiden alue */
.right-container {
    width: 35%; /* Laatikoiden alue vie 35% leveydestä */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start; /* Tuo kaikki laatikot vasemmalle, mutta pysyy oikealla */
}

/* Laatikoiden tyylit */
.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Laatikoiden leveys mukautuu oikean alueen leveyteen */
}

/* Otsikko */
.page-title {
    font-size: 2em;
    margin: 20px 0;
    color: #444;
}

/* Taulukko */
table {
    width: 100%; /* Taulukko täyttää laatikon leveyden */
    border-collapse: collapse;
}

table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Lisää kevyet viivat riveille */
}

/* Lootbox-lomake */
.form-group {
    margin: 15px 0;
    width: 100%; /* Lomake mukautuu laatikon leveyteen */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%; /* Täyttää laatikon leveyden */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #0077cc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005fa3;
}

/* Footer */
.page-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}


/* Nappien tyylit */
.login-button, .guest-button {
  display: inline-block;
  width: 13%;
  padding: 5px;
  margin-top: 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
/* Tuoteosio */
.kirjaudu {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.logiin {
            justify-content: center;
            align-items: center;
            height: 1rem;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #dddddd;
            text-align: center;
            border: 1px solid #ddd;

}
#kysymys {
    text-align: center;
}

.kirjaudu_div {
    background-color: gainsboro;
    width: 50%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

.kirjaudu_div h2 {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.kirjaudu_div .kirjoudu-image {
    width: 100%;
    height: 150px;

    color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}


.kirjaudu_div p {
    padding: 10px;
    font-size: 0.9em;
    color: #555;
    text-align: left;
}

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

/* Button styling */
#toggleButton {
            position: fixed;
            top: 10px;
            left: 20px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
/* Stats window styling */
#statsWindow {
    display: none; /* Initially hidden */
    position: fixed;
    top: 10px;
    right: 20px;
    width: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
        }

        /* Close button styling */
        #statsWindow .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            color: #555;
        }



.abouts {
    display: flex;
    background-color: #eaeaea;
    gap: 40px; /* Lisää tilaa elementtien väliin */

    text-align: left;
    padding: 100px;
    border-radius: 10px;
}

.about h2 {
    font-size: 1.3em;
    padding-bottom: 590px;

}

.abouts img {
    width: 40vw;
    margin-bottom: 45px;
    border-radius: 8px; /* Lisää pyöristetyt kulmat */
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Varjostus */
    flex: 4; /* Kuvan skaalautuminen */
    max-width: 600px;
      height: 550px; /* Kiinteä korkeus */
}

.login-button {
  background: #4caf50;
  color: white;
}


.login-button:hover {
  background: #45a049;
}

/* Päänäkymän otsikko */
.page-header {

  padding: 10px 20px;
  text-align: center;
}

/*Rekisteröitymiseen */
section {
    margin-bottom: 3px;
    padding: 3px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 0.5rem;
    margin-bottom: 5px;
    color: #0077cc;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 5px 25px;
    font-size: 1.1rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

#map {
  width: 100%;
  height: 20vh;
  margin: 10px 0;
}



/* Tilaosan tyyli */
.status {
  padding: 30px;
  text-align: center;
}

.status p {
  margin: 10px 0;
  font-size: 1.3em;
}


.login-form {
    margin-top: 150px; /* Siirtää koko lomakkeen alemmas */

}

.input-field {
  width: 10%; /* Leveys suhteessa parent-elementtiin */
  max-width: 200px; /* Maksimileveys */
  padding: 10px; /* Sisätyhjä */
  font-size: 16px; /* Tekstin koko */
  border: 2px solid #ccc; /* Reunan tyyli */
  border-radius: 10px; /* Pyöristetyt kulmat */
}


 /* endPage kattaa koko näytön */
#endPage {
    display: flex; /* Järjestää sisällön vaakasuoraan */
    align-items: center; /* Kohdistaa elementit pystysuunnassa keskelle */
    justify-content: center; /* Kohdistaa elementit vaakasuunnassa keskelle */
    width: 100%;
    height: 10990vh; /* Käytä koko näkymän korkeus */
    background-color: rgba(240, 240, 240, 1); /* Vaalea taustaväri */
    padding: 20px;
    box-sizing: border-box;
}

/* Kuva vasemmalla */
#leftSide {
    flex: 0; /* Käytä 50% tilasta */
    display: flex;
    justify-content: center; /* Keskittää kuvan vaakasuunnassa */
    align-items: center; /* Keskittää kuvan pystysuunnassa */

}

#endPageImage {
    max-width: 100%; /* Rajaa kuvan leveys */
    height: auto;
}

/* Teksti ja nappi oikealla */
#rightSide {
    flex: 1; /* Käytä 50% tilasta */
    display: flex;
    flex-direction: column; /* Järjestä elementit pystysuunnassa */
    justify-content: center; /* Keskittää tekstin ja napin pystysuunnassa */
    align-items: flex-start; /* Kohdistaa tekstin vasemmalle */
    padding-left: 20px;
}

#endPageTitle {
    font-size: 2rem;
    margin-bottom: 20px; /* Väli otsikon ja tulosten väliin */
}

#rightSide p {
    font-size: 1.5rem;
    margin-bottom: 10px; /* Väli "Results"-tekstin ja listan väliin */
}

#rightSide ul {
    list-style: none; /* Poistaa pisteet listalta */
    padding: 0;
    margin-bottom: 20px; /* Väli listan ja napin väliin */
}

#rightSide li {
    font-size: 1.2rem;
    margin: 5px 0;
}

#rightSide button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#rightSide button:hover {
    background-color: #0056b3;
}